:root {
    --nav-bg: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%, 
        rgba(0, 0, 0, 0.5) 35%, 
        rgba(0, 0, 0, 0.8) 65%, 
        rgba(0, 0, 0, 1) 100%);

    --nav-font-size: 16px;

    --nav-gap: 16px;
}

.nav-bar {
    height: 85px;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 50px;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    background: var(--nav-bg);
}

.nav-bar-cnt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    flex-grow: 1;
    box-sizing: border-box;
}

.left, .right {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: var(--nav-gap);
}

.nav-bar a {
    color: rgb(193, 193, 193);
    text-align: center;
    text-decoration: none;
    font-size: var(--nav-font-size);
}

.nav-bar a:hover {
    color: aliceblue;
}

.nav-search-bar {
    align-content: center;
}

/* User */

.user-cnt {
    display: flex;
    gap: var(--nav-gap);
    align-items: center;
}

.image-cnt {
    box-sizing: border-box;
    border-radius: 50px;
    width: 30px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border: 1px;
    border-style: solid;
    border-color: aliceblue;
}

.image-cnt div {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.dropdown-menu {
    display: none;
    background-color: rgb(236, 236, 236);
    list-style: none;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
}

.dropdown-menu.show {
    display: flex;
    flex-direction: column;
}

.dropdown-menu a {
    color: black;
}

.dropdown-menu a:hover {
    color: rgb(56, 56, 56);
}

@media (max-width: 700px) {
    :root {
        --nav-font-size: 14px;
    }

    .nav-bar {
        padding-inline: 10px;
    }

    .nav-bar a {
        color: rgb(193, 193, 193);
        text-align: center;
        text-decoration: none;
        font-size: var(--nav-font-size);
    }

    .nav-search-bar input {
        display: none;
    }
}