{% extends "app_blog/base.html" %}
{% load static %}

{% block title %}Blogs{% endblock %}

{% block header %}
    <header class="container-fluid bg-secondary d-flex align-items-center" style="height: 20vw;">
        <div class="row w-100">
            <div class="col-12 d-flex justify-content-center">
              <h1 class="text-white text-center">Welcome to the blog!</h1>
            </div>
          </div>
    </header>
{% endblock %}

{% block container %}
    <h1>Latest Blogs</h1>
    <hr class="my-4" />
    {% if blogs %}
        {% for blog in blogs %}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{% url 'blog-detail' blog.id %}">
                    <h2 class="post-title">{{ blog.title }}</h2>
                    <h2 class="post-subtitle">{{ blog.subtitle }}</h2>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="{% url 'user-detail' blog.author.id %}">{{ post.blog.author.avatar.display_name }}</a>
                    on {{ blog.date_created }}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        {% endfor %}
    {% else %}
    <div class="post-preview">
        <p class="post-meta">No blogs yet.</p>
    </div>
    <!-- Divider-->
    <hr class="my-4" />
{% endif %}
{% endblock %}