{% extends "app_blog/base_blog.html" %}
{% load static %}

{% block title %}{{ blog.title}}{% endblock %}


{% block header %}
    <header class="masthead" style="background-image: url('{% if blog.image %}{{ blog.image.url }}{% else %}/static/app_blog/assets/default_blog_image.jpg{% endif %}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>{{ blog.title }}</h1>
                        <span class="subheading">{{ blog.subtitle }}</span>
                        <p>{{ blog.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{%block sidebar %}
    <ul class="nav flex-column text-center mt-5 mb-sm-auto">
        <div class="text-center">
            <!--This part is at the top-->
            <li class="nav-item mt-5">
                <a class="d-flex justify-content-center text-center">
                    <div class="ratio ratio-1x1 bg-image img-thumbnail rounded-pill w-50" 
                    style="background-image: url('{% if blog.author.avatar.profile_picture %}{{ blog.author.avatar.profile_picture.url }}{% else %}/static/app_blog/assets/default_profile_picture.jpg{% endif %}'); 
                    background-position: center; background-size: contain;"></div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'user-detail' blog.author.id %}">{%if blog.author.avatar.display_name%}{{ blog.author.avatar.display_name }}{%else%}{{blog.author.username}}{%endif%}</a>
            </li>
        </div>
        
    </ul>

    <hr>
    <div class="dropdown pb-4 ">
        
        {% if request.user.is_authenticated and request.user.id == blog.author.id %}
        <a href="#options" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline dropdown-toggle text-light">Options</span> </a>
        
        <ul class="collapse show nav flex-column ms-1" id="options" data-bs-parent="#menu">
            <hr>
            <li class="w-100"><a href="{% url 'blog-add-post' blog.id %}" class="nav-link px-0 text-primary"> <span class="d-none d-sm-inline">New Post</span></a></li>
            <li class="w-100"><a href="{% url 'blog-update' blog.id %}" class="nav-link px-0 text-primary"> <span class="d-none d-sm-inline">Update Blog</span></a></li>
            <li class="w-100"><a href="{% url 'blog-delete' blog.id %}" class="nav-link px-0 text-danger"> <span class="d-none d-sm-inline text-link-danger">Delete Blog</span></a></li>
        </ul>
        <hr>
        {%endif%}
        <p class="text-light">{{blog.date_created}}</p>
    </div>
{%endblock%}
    

{% block container %}
    {% if blog.related_posts.all %}
        {% for post in related_posts %}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{% url 'post-detail' post.id %}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h3 class="post-subtitle">{{ post.body|slice:":100"|linebreaksbr }}{% if post.body|length > 200 %}...{% endif %}</h3>
                </a>
                <p class="post-meta">
                    {{ post.date_posted }}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        {% endfor %}
    {% else %}
        <div class="post-preview">
        <p class="post-meta">No posts yet.</p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
    {% endif %}
{% endblock %}