{% extends "app_blog/base.html" %}
{% load static %}

{% block title %}{{ user.username }} Profile{% endblock %}

{% block main %}
	<main>
		

		<div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
					<h1>User Profile</h1>
                    
                    <div>
                        <hr>
                        <p>{{ user.username }}</p>
                        <p>{{ user.name }}</p>
                        <p>{{ user.email }}</p>
                        <hr>
                    </div>
            
                    <div>
                        <h1>Blogs</h1>
                        {% if user.related_blogs.all %}
                            
                            {% for blog in user.related_blogs.all %}
                                <div><a href="{% url 'blog_detail' blog.url %}">{{ blog.title }}</a></div>
                            {% endfor %}
                            
                        {% else %}
                            <p>There are no blogs yet.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
	</main>
{% endblock %}