{% extends "app_blog/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block header %}
    <header class="masthead" style="background-image: url('/static/app_blog/assets/default_blog_image.jpg')">
        
    </header>
{% endblock %}

{% block container %}
    <h1>Latest Posts</h1>
    <hr class="my-4" />
    {% if posts %}
        {% for post in posts %}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{% url 'post-detail' post.id %}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h3 class="post-subtitle">{{ post.body|slice:":100" }}{% if post.body|length > 200 %}...{% endif %}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="{% url 'user-detail' post.blog.author.id %}">{{ post.blog.author.display_name }}</a>
                    on {{ post.date_posted }}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        {% endfor %}
    {% else %}
    <div class="post-preview">
        <p class="post-meta">No posts yet.</p>
    </div>
    <!-- Divider-->
    <hr class="my-4" />
{% endif %}
{% endblock %}