{% extends "app_blog/blog_detail.html" %}
{% load static %}

{% block title %}{{ post.title }} Post{% endblock %}

{% block header %}
    <header class="masthead" style="background-image: url('{% if post.blog.image %}{{ post.blog.image.url }}{% else %}/static/app_blog/assets/default_blog_image.jpg{% endif %}')">
        
    </header>
{% endblock %}

{% block container %}
    <div>
        <a class="h5" href="{% url 'blog-detail' post.blog.id %}">{{ post.blog.title }}</a>
    </div>
    <h1>{{ post.title }}</h1>
    <div>
        <p class="text-justify text-break" style="display: block;">{{ post.body }}</p>
    </div>

    <hr>
    <div class="post-preview">
        <p class="post-meta">
            Posted by
            <a href="{% url 'user-detail' post.blog.author.id %}">{{ post.blog.author.display_name }}</a>
            on {{ post.date_posted }}
        </p>
    </div>
    {% if request.user == post.blog.author %}
        <div class="d-flex justify-content-center mb-4">
            <div class="row ">
                <div class="col">
                    <a class="btn btn-primary text-uppercase" href="{% url 'post-update' post.id %}">
                        Update</a>
                    <a class="btn btn-danger text-uppercase" href="#!">
                        Delete</a>
                </div>
            </div>
        </div>
    {%endif%}
{% endblock %}