/* Foundation */
@import url("./foundation/variables.css");
@import url("./foundation/typography.css");

/* Layout */
@import url("./layout/layout.css");

/* Components */
@import url("./components/navbar.css");

/* Sections */
@import url("./sections/home.css");